
body {
    background-color: black;
}


/* booting */ 

#pfc-editor-booting {
    background-color: black;
    color:white;
}

#pfc-editor-booting-holder {
    border:1px solid white;
}


#pfc-editor-booting-prct {
    background-color: white;
}


#pfc-editor-waiting-box {
    border: 2px solid #ddd;
    background-color: #00F;
    color: #ddd;
}

/* HEAD */

#pfc-editor-head {
    background-color: #303030;
}

#pfc-editor-head a.pfc-editor-active-section-href {
    color: orange;
    background-color: black;    
}

#pfc-editor-head a:hover {
    color: greenyellow;
}

a#pfc-editor-logo {    
    color: lightcyan;   
}

#pfc-editor-menu li a {
   color: lightskyblue;
}

#pfc-editor-menu li a.pfc-editor-page-href,
a.pfc-editor-page-href {
   color: lightsteelblue;
}

#pfc-editor-menu li a.pfc-editor-page-href:hover,
a.pfc-editor-page-href:hover, a#pfc-editor-admin-href:hover {
    color: greenyellow;
}

#pfc-lang-switcher {
    background-color:black;
    color:#ddd;
}


/*
   EDITOR
*/

#pfc-editor {
    background-color: #303030;
    border-radius: 5px;
}

#pfc-editor-body a {
    color: lightskyblue;  	
}

#pfc-editor-body a:hover {
    color: lightgreen;    
}

#pfc-editor-body input, select, textarea {
    border-color: lightblue;    
    background-color: lightgray;
    color: black;
}
    
#pfc-editor-dialogs-heads-holder {    
    background-color: #0F0D4E;     
    border-radius: 5px;    
}

.pfc-editor-dialog-tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: gray;    
}

.pfc-editor-dialog-tab a { 
    color: #ddd;
}

.pfc-editor-dialog-tab-active {
    background-color: lightskyblue;
}

.pfc-editor-dialog-tab-active a {
    color: black;
}

a.pfc-editor-dialog-tab-close:hover {
    color: white;
    background-color: red;
}

.pfc-editor-dialog-page {
    color: #ddd;
}

.pfc-editor-dialog-page h2 {
    padding-top: 10px;
}

.pfc-editor-unsaved-file {
    background-color: red  !important;
    color: white !important;
}

.pfc-editor-dialog-info {
    position: absolute;
    border-radius: 3px;
    background-color: lightskyblue;
}

.pfc-editor-file-actions button {
  background-color: darkblue;
  border-color: black;
  color: #ddd; 
  border-radius: 5px;
  cursor:pointer;
}

.pfc-editor-file-actions button:hover {
  color:orange;
  background-color: black;  
  border-color: darkblue;
}

.page-preview-browser-holder {
    background-color: lightgreen;
}

.page-preview-browser {
    background-color: white;
}

/*
    EDITOR RDITOR
*/
.pfc-editor-contextmenu-holder {
    border-color: #005178;
    box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.pfc-editor-contextmenu-head {
    color: black;
    background-color:  #0099FF;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
    border-bottom-color: #0099FF;
}

.pfc-editor-contextmenu-section {
    border-bottom-color: #dddddd;        
}

a.pfc-editor-contextmenu-btn {
    background-color: lightskyblue;
    color: #000099;
}

a.pfc-editor-contextmenu-btn:hover {
    background-color: #0066cc;
    color: white;
}

.pfc-editor-contextmenu-section a.pfc-last {
    border-bottom-color: #0099FF;
}

.pfc-editor-contextmenu-section:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.pfc-editor-contextmenu-section:last-of-type a.pfc-last:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}



   .pfc-editor-file-status-bar {
        color: #ccc;
    }
    .ace_status-indicator {
        color: #ccc;    
    }
    
.valid-file-text {
  color:lightskyblue;
}

.file-text-errors {
  color: red;
}

/*
   tools
*/
#pfc-editor-tools {
    background-color: #0F0D4E;
}

#pfc-editor-tools-body {
    background-color: lightsteelblue;
}

#pfc-editor-tools-body a {
    color: #154669;
}

#pfc-editor-tools-body a:hover {
    background-color: darkblue;
    color: white;
    border-radius: 2px;
}

/* sections */
#pfc-editor-sections {
    background-color: #0F0D4E;
    border-radius: 5px;
}

.pfc-editor-section-header {
    background-color: #0F0D4E;     
    border-radius: 5px;
}

.pfc-editor-section-header a.pfc-editor-section-minify-href {
    color: gray;
    border-color: gray;
}

.pfc-editor-section-header a.pfc-editor-section-minify-href:hover {
    background-color: lightcyan;
    color: black;
}


.pfc-editor-section-header a:hover {
    color: lightgreen;    
}

.pfc-editor-section-header a.pfc-editor-section-active {
    background-color: lightsteelblue;
    color: black;
}

.pfc-editor-section-header li a {
    color: lightcyan;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pfc-editor-section-panel {
    background-color: lightsteelblue;
}

.pfc-editor-section-panel a {
    color:#009900;
}

.pfc-editor-section-panel a:hover {
     color: #005178;
}

/* FOOTER */

#pfc-editor-footer {
    background-color: #303030;      
}

#pfc-editor-footer a:hover {
    color: orange;
    background-color: black;    
    text-decoration: none;
}

#pfc-editor-footer li a {
    color: lightskyblue;
}

#copy {
    color: lightcyan;
}

#copy a {
    color: lightskyblue;
}
