
.pfc-editor-contextmenu-holder {
    position: absolute;
    z-index: 16000;
    border: 2px solid #005178;
    box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.pfc-editor-contextmenu-head {
    color: black;
    background-color:  #0099FF;    
    padding: 5px;
    padding-left: 25px;
    padding-right: 20px;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
      border-bottom: 2px solid #0099FF;
}

.pfc-editor-contextmenu-section {
    border-bottom: 2px solid #dddddd;        
}

a.pfc-editor-contextmenu-btn {
    display:block;
    padding: 5px;
    padding-left: 25px;
    padding-right: 20px;
    background-color: lightskyblue;
    color: #000099;
}

a.pfc-editor-contextmenu-btn:hover {
    background-color: #0066cc;
    color: white;
}

.pfc-editor-contextmenu-section a.pfc-last {
   border-bottom: 2px solid #0099FF;
}

.pfc-editor-contextmenu-section:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.pfc-editor-contextmenu-section:last-of-type a.pfc-last:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}



   .pfc-editor-file-status-bar {
        margin: 0;
        padding: 0;
        position: relative;
        margin-top: 5px;
        padding-left: 25px;
        color: #ccc;
    }
    .ace_status-indicator {
        color: #ccc;
        position: absolute;
        right: 0;
        
        padding-left: 5px;
        padding-right: 20px;
    }