
*, html, body {
    padding: 0;
    margin: 0;   

    
}

body {
    overflow-y: hidden; 
    overflow-x: hidden;    
    font-size: 100%;
}

a { text-decoration: none }

a:focus {
    outline: none;
} 

.ui-dialog {
  z-index:11000 !important;
}

.ui-dialog-content {
  overflow:auto;
}

#pfc-editor-templates {
    display: none;
}

#pfc-editor-booting {
    position:absolute;left:0;top:0;z-index: 11000;width:100%;height:100%;
}

#pfc-editor-booting-holder {
	padding: 5px;

    margin: 10px;
    width: 162px;
}

#pfc-editor-booting-inner {
    width: 150px;
}

#pfc-editor-booting-prct {
    width: 7px;
    height: 30px;

}


#pfc-editor-waiting-box {
    display: none;
    position: absolute;
    left: 300px;
    top: 20px;

    padding: 20px;

    
    z-index:9000;
}

/* HEAD */

#pfc-editor-head {
    width: 100%;
    position: fixed;
    left: 0;
    top: 5px;
    max-height: 25px;
   min-width: 880px;
}

#pfc-editor-head a.pfc-editor-active-section-href {
    text-decoration: none;
}

a#pfc-editor-logo {
    display: block;
    margin-left: 5px;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;    
    float: left;
}

#pfc-editor-logo-close-tag {
    float:right;
    display:block;
    padding-right:10px;
}

#pfc-editor-menu li {
    list-style: none;
    float: left;
}

#pfc-editor-menu li a {
    display: block;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}



a#pfc-editor-logout-href,

a#pfc-editor-help-href,

a#pfc-editor-about-href,

a#pfc-editor-specchars-href,

a#pfc-editor-config-href,

a#pfc-editor-tools-href,
a#pfc-editor-phpinfo-href,
a#pfc-editor-include-href,
a#pfc-editor-admin-href,
a#pfc-sources-editor-href
{
    display: block;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;       
    float: right;    
}

#pfc-lang-switcher-holder {
    float:right;
    display:block;
    padding-right: 5px; 
    padding-left: 10px;
}

#pfc-lang-switcher {
    padding-right:5px;
}


/* LEFT PANEL */

#pfc-editor-sections {
    position: fixed;
    left: 5px;
    top: 35px;
    /*width: 285px;*/        
}

.pfc-editor-section-header-inner {
     min-width: 380px;
}

.pfc-editor-section {
      min-width: 385px;
}

.pfc-editor-section-header {
    overflow: auto;
    padding-left: 5px;
    width: 380px;  
}

.pfc-editor-section-header a.pfc-editor-section-minify-href {
    display: block;
    float: right;
    font-size: 7px;
    line-height: 7px;
    border: 1px solid;    
    margin-right: 4px;
    margin-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.pfc-editor-section-header li {
    list-style: none;
    float: left;
}

.pfc-editor-section-header li a {
    display: block;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.pfc-editor-section-panel {
    overflow: scroll;    
    padding: 10px;
    padding-top:0px;
    width: 362px;
}

.pfc-editor-section-panel a {
}

.pfc-editor-section-panel a:hover {
}


/* TOOLS */

#pfc-editor-tools {
    position: fixed;
    right: 5px;
    top: 35px;
    width: 375px;
    border-radius: 5px;  
    z-index:8000;
}

#pfc-editor-tools-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
}

.pfc-editor-tools-section {
    padding: 10px;
}

.pfc-editor-tools-section button {
    padding: 2px;
    cursor: pointer;
}

.pfc-editor-tools-section b {
    font-size:0.92em;
}


/* EDITOR */

#pfc-editor {
    margin-top: 35px;
    margin-left: 395px;
    margin-right: 395px; 
    padding-bottom: 5px;   
}

#pfc-editor-body a {

}

#pfc-editor-body a:hover {
    
}

#pfc-editor-body input, select, textarea {
    border: 1px solid;
}
    
#pfc-editor-dialogs-heads-holder {    
    overflow-x: scroll;
}

#pfc-editor-dialogs-heads {
    width: 8000px;
    padding-left: 10px;
}

.pfc-editor-dialog-tab {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2px;
    border: 1px solid;
    border-bottom: 0px;
    margin-right: 5px;
   padding-left:23px;
}

.pfc-editor-dialog-tab a { 

}

.pfc-editor-dialog-tab-active {
    border-bottom: 0px;    
}

.pfc-editor-dialog-tab-close {
    display: block;
    float: right;
    font-size: 0.55em;
    margin-left: 5px;
}

.pfc-editor-dialog-tab-active a {
}

a.pfc-editor-dialog-tab-close:hover {
}


#pfc-editor-body {
    overflow: auto;
}

.pfc-editor-dialog-page {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;    
}

.pfc-editor-unsaved-file {
    
}

.pfc-editor-dialog-info {
    position: absolute;
    z-index: 8000;
    left: 20px;
    top: 20px;
    padding:15px;
    padding-top: 5px;
    padding-bottom: 5px;        
    display:none;
}

.pfc-editor-file {
    position: relative;
    margin-top: 27px;
}

.pfc-editor-file-actions-holder {
      position:absolute;
    left:0px;
    top:-27px;
    z-index: 100;
  overflow:hidden;
}

.pfc-editor-file-actions {
    min-width:1080px;
    padding-left:23px;
}


.pfc-editor-file-actions button {
  border:2px solid;
  padding:2px;
  padding-left:4px;
  padding-right:4px;
}
.pfc-editor-file-actions button:hover {
  border:2px solid;
}


.page-preview-browser-holder {
    padding:15px;
    width:360px;
    height:400px;
}

.page-preview-browser {
        min-height:400px;
  height:100%;
}

.page-preview-browser object {
    width:100%;
    height:100%;
}


/* EDITOR EDITOR */

.pfc-editor-contextmenu-holder {
    position: absolute;
    z-index: 16000;
    border: 2px solid;
}

.pfc-editor-contextmenu-head {
    padding: 5px;
    padding-left: 25px;
    padding-right: 20px;    
    border-bottom: 2px solid;
}

.pfc-editor-contextmenu-section {
    border-bottom: 2px solid;        
}

a.pfc-editor-contextmenu-btn {
    display:block;
    padding: 5px;
    padding-left: 25px;
    padding-right: 20px;
}

a.pfc-editor-contextmenu-btn:hover {

}

.pfc-editor-contextmenu-section a.pfc-last {
   border-bottom: 2px solid;
}

   .pfc-editor-file-status-bar {
        margin: 0;
        padding: 0;
        position: relative;
        margin-top: 5px;
        padding-left: 25px;
    }
    .ace_status-indicator {
        position: absolute;
        right: 0;
        
        padding-left: 5px;
        padding-right: 20px;
    }


/* FOOTER */

#pfc-editor-footer {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 3px;
    max-height: 15px;
    font-size: 0.8em;    
}

#pfc-editor-footer a:hover {

}

#pfc-editor-footer ul {
    padding-left: 10px;
}

#pfc-editor-footer li {
    list-style: none;
    float: left;        
}

#pfc-editor-footer li a {
    padding-right: 5px;
    padding-left: 5px;
}

#copy {
    display: block;
    float: right;
    padding-right: 20px;
}

#copy a {

}




