
#pfc-sources-contextmenu-template,
.pfc-sources-contextmenu-hidden {
    display:none;
}

.pfc-sources-contextmenu-holder {
    position: absolute;
    z-index: 6000;
    border: 2px solid #005178;
    box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.8);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.pfc-sources-contextmenu-head {
    color: black;
    background-color:  #0099FF;    
    padding: 5px;
    padding-left: 25px;
    padding-right: 20px;    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
      border-bottom: 2px solid #0099FF;
}

.pfc-sources-contextmenu-section {
    border-bottom: 2px solid #dddddd;        
}

a.pfc-sources-contextmenu-btn {
    display:block;
    padding: 5px;
    padding-left: 25px;
    padding-right: 20px;
    background-color: lightskyblue;
    color: #000099;
}

a.pfc-sources-contextmenu-btn:hover {
    background-color: #0066cc;
    color: white;
}

.pfc-sources-contextmenu-section a.pfc-last {
   border-bottom: 2px solid #0099FF;
}

.pfc-sources-contextmenu-section:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.pfc-sources-contextmenu-section:last-of-type a.pfc-last:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.pfc-editor-section-updater {
  text-align: right;
  padding-right: 35px;
  font-size:0.75em;
  color: black;
  background-color:lightsteelblue;
}

