



/*
*  project config
*/
.formPrimitiveCell input.idate { width: 70px !important;}
.formPrimitiveCell select.idatetime { width: 30px !important;}

.formPrimitiveTitle {
    width: 180px;
}

.formPrimitiveCell input[type='text'],.formPrimitiveCell input[type='password'], .formPrimitiveCell select, .formPrimitiveCell textarea {
    width: 550px;
    border: 1px solid #22697d;
    padding: 5px;
}

.formPrimitiveRow {
    padding-bottom: 10px;
}

.fleft {float: left}
.clear {clear: both}
.hidden {display:none}

.pfc-config-help {
    width: 550px;
    font-size: 0.9em;
    font-style: italic;
    padding-left: 180px;
}

#pfc-editor-config-accordicon .accordicon-head,
#pfc-project-config-accordicon .accordicon-head {
    display: block;
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #005178;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;    
    margin-bottom: 5px;
}

#pfc-editor-config-accordicon a.accordicon-head-active,
#pfc-project-config-accordicon a.accordicon-head-active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;    
    margin-bottom: 0px;
}

#pfc-editor-config-accordicon .accordicon-body ,
#pfc-project-config-accordicon .accordicon-body {
    display:none;
    background-color: lightsteelblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    padding:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:5px;
    color: #021014;
}

#pfc-editor-config-accordicon .accordicon-body a
#pfc-project-config-accordicon .accordicon-body a {
    color:#009900;
}

#pfc-editor-config-accordicon .accordicon-body a:hover,
#pfc-project-config-accordicon .accordicon-body a:hover {
     color: #005178;
}

#pfc-editor-config-accordicon .accordicon-body input[type='text'], 
#pfc-editor-config-accordicon .accordicon-body textarea, 
#pfc-editor-config-accordicon .accordicon-body select,
#pfc-editor-config-accordicon .accordicon-body input[type='password'],
#pfc-project-config-accordicon .accordicon-body input[type='text'],
#pfc-project-config-accordicon .accordicon-body textarea, 
#pfc-project-config-accordicon .accordicon-body select {
    border: 1px solid #005178;
}

#pfc-editor-config-accordicon .accordicon-footer,
#pfc-project-config-accordicon .accordicon-footer {
    display: none;
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #005178;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

