

/*
default
   calculator, color-picker
*/
.color-picker-holder,
.calc-holder {
  position: absolute;
  right: 150px;
  top: 30px;
  z-index:9000;
  background-color:black;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;  
  display:none;
}

.color-picker-title,
.calc-help,
.calc-key-back
{
  color: white;
  display: block;
  float: left;
  padding-left: 13px;
}

a.calc-help:hover,
a.calc-key-back:hover  
{
  color: lightskyblue;
}

.color-picker-close,
.calc-close {
  display: block;
  padding: 2px;
  color: white;
  float: right;
  margin-left: 10px;
}

a.color-picker-close:hover,
a.calc-close:hover {
  background-color: red;
}

